<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:name=".MyApplication"
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.BranchDemo.NoActionBar"
      tools:targetApi="31">
    <activity
        android:name=".DetailScreen"
        android:exported="false" />
    <activity
        android:name=".ProfileActivity"
        android:exported="false" />
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/Theme.BranchDemo.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>

        <!-- If utilizing $deeplink_path please explicitly declare your hosts, or utilize a wildcard(*) -->
        <!-- REPLACE `android:scheme` with your Android URI scheme -->
        <data
            android:host="open"
            android:scheme="branchapp" />

        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="6r418.test-app.link"
            android:scheme="https" />
        <data
            android:host="6r418-alternate.test-app.link"
            android:scheme="https" />
      </intent-filter>
    </activity>

    <meta-data
        android:name="io.branch.sdk.BranchKey"
        android:value="key_test_hDn5LJ61XLYhmjRUuBIviogotypPNGps" />
    <meta-data
        android:name="io.branch.sdk.BranchKey.test"
        android:value="secret_test_VNcZt7I4t6yLuVljdjG9bilQMk8qYMJg" />
    <meta-data
        android:name="io.branch.sdk.TestMode"
        android:value="false" />
  </application>

</manifest>